PORT=4000
FRONTEND_ORIGIN="http://localhost:3000"
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=vistra_dms
NODE_ENV=development
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_PUBLIC_USE_SSL=false
MAX_UPLOAD_SIZE_BYTES=20971520
